@font-face {
  font-family: "InterRegular";
  src: local("InterRegular"), url("./fonts/Inter-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "InterSemibold";
  src: local("InterSemiBold"), url("./fonts/Inter-SemiBold.ttf") format("ttf");
}

@font-face {
  font-family: "InterBold";
  src: local("InterBold"), url("./fonts/Inter-Bold.ttf") format("ttf");
}

html, body {
    font-family: InterRegular !important;
}