@font-face {
    font-family: 'InterRegular';
    src: local('Inter-Regular'), url("./assets/fonts/Inter-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'InterSemibold';
    src: local('Inter-Semibold'), url("./assets/fonts/Inter-SemiBold.ttf") format('truetype');
}

@font-face {
    font-family: 'InterBold';
    src: local('Inter-Bold'), url("./assets/fonts/Inter-Bold.ttf") format('truetype');
}

